@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-12">
    <div class="container mt-12">
        <header class="text-center">
            <h1 class="display-4">Bienvenido a Tech Innovations</h1>
            <p>Descubre más sobre nuestra empresa y servicios de vanguardia.</p>
        </header>

        <section class="row mt-5">
            <article class="col-md-6 col-12">
                <h2>Nuestra Historia</h2>
                <p>Tech Innovations fue fundada en 2005 por visionarios apasionados por la tecnología. Desde entonces, hemos estado liderando el camino en la innovación y desarrollo de soluciones tecnológicas de última generación.</p>
            </article>

            <article class="col-md-6 col-12">
                <h2>Nuestros Servicios</h2>
                <ul>
                    <li>Servicios de Desarrollo de Software</li>
                    <li>Consultoría en Tecnología de la Información</li>
                    <li>Desarrollo de Aplicaciones Móviles</li>
                    <li>Integración de Sistemas</li>
                    <li>Seguridad Cibernética Avanzada</li>
                </ul>
            </article>
        </section>

        <section class="row mt-2">
            <article class="col-md-6 col-12">
                <h2>Gestión de Empleados</h2>
                <ul>
                    <li>Gestión de Departamentos</li>
                    <li>Gestión de Empleados</li>
                </ul>
            </article>

            <article class="col-md-6 col-12">
                <h2>Contacto</h2>
                <p>Puedes contactarnos en:</p>
                <address>
                    <strong>Tech Innovations</strong><br>
                    555 Calle Tecnológica<br>
                    Ciudad Digital, TecLandia<br>
                    Teléfono: (123) 456-7890<br>
                    Correo Electrónico: info@techinnovations.com
                </address>
            </article>
        </section>
    </div>
</div>