@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-12">
    <div class="text-center">
        <h1 class="display-4">Bienvenido a Tech Innovations</h1>
        <p>Descubre más sobre nuestra empresa y servicios de vanguardia.</p>
    </div>

    <div class="row mt-5 mb-12">
        <div class="col-md-6 m">
            <h2>Nuestra Historia</h2>
            <p>Tech Innovations fue fundada en 2005 por visionarios apasionados por la tecnología. Desde entonces, hemos estado liderando el camino en la innovación y desarrollo de soluciones tecnológicas de última generación.</p>
        </div>

        <div class="col-md-6">
            <h2>Nuestros Servicios</h2>
            <ul>
                <li>Servicios de Desarrollo de Software</li>
                <li>Consultoría en Tecnología de la Información</li>
                <li>Desarrollo de Aplicaciones Móviles</li>
                <li>Integración de Sistemas</li>
                <li>Seguridad Cibernética Avanzada</li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Contacto</h2>
            <p>Puedes contactarnos en:</p>
            <address>
                <strong>Tech Innovations</strong><br>
                555 Calle Tecnológica<br>
                Ciudad Digital, TecLandia<br>
                Teléfono: (123) 456-7890<br>
                Correo Electrónico: info@techinnovations.com
            </address>
        </div>
    </div>
</div>

