@page
@model Empleados.Pages.Departamentos.InsertarModel
@{
	ViewData["Title"] = "Crear un Departamento";
}

<div class="container">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="text-info">Crear un Nuevo Departamento</div>
			<form method="POST">
				<div class="mb-3">
					<label asp-for="Departamento.NombreDepartamento" class="form-label"></label>
					<input asp-for="Departamento.NombreDepartamento" class="form-control" placeholder="Ingrese el nombre de departamento" />
					<span asp-validation-for="Departamento.NombreDepartamento" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Departamento.Descripcion" class="form-label"></label>
					<input asp-for="Departamento.Descripcion" class="form-control" />
					<span asp-validation-for="Departamento.Descripcion" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Departamento.FechaCreacion" class="form-label"></label>
					<input asp-for="Departamento.FechaCreacion" class="form-control" />
					<span asp-validation-for="Departamento.FechaCreacion" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-primary">Crear Departamento</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<a asp-page="Index" class="btn btn-success">Volver</a>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
